# Create Database using Python

 ![png](Books erd.png)

In [44]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
import pandas as pd

In [45]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:root@localhost/books"

In [46]:
# Check if the database exists. If not, create it.
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

The database already exists

In [47]:
database_exists(connection_str)

True

In [48]:
users_df = pd.read_csv('https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users')
users_df

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [49]:
books_df = pd.read_csv('https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books')
books_df

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4
5   6          Frankenstein          5

In [50]:
authors_df = pd.read_csv('https://docs.google.com/spreadsheets/d/17rABPt5eaIxfhGO75dYCbH-5IloKsAR0HH9V6VC43ZI/gviz/tq?tqx=out:csv&sheet=author')
authors_df

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [51]:
favs_df = pd.read_csv('https://docs.google.com/spreadsheets/d/1SLb3RAhcrZsPWRwR0_njWX7KssUYZ16JFsVqBkSU2GI/gviz/tq?tqx=out:csv&sheet=favorite')
favs_df

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5
5        3        5
6        3        6

## Convert Dateframes to SQL Tables

In [52]:
users_df.to_sql('users', engine, if_exists='replace')

OperationalError: (pymysql.err.OperationalError) (1046, 'No database selected')
[SQL:
CREATE TABLE users (
	`index` BIGINT,
	id BIGINT,
	first_name TEXT,
	last_name TEXT,
	email TEXT
)

]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
books_df.to_sql('books', engine, if_exists='replace')

In [ ]:
authors_df.to_sql('authors', engine, if_exists='replace')

In [ ]:
favs_df.to_sql('favorites', engine, if_exists='replace')

## Testing

In [53]:
q = """

SHOW TABLES;

"""
pd.read_sql(q, engine)

OperationalError: (pymysql.err.OperationalError) (1046, 'No database selected')
[SQL:

SHOW TABLES;

]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
q = """SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));
    
"""
pd.read_sql(q, engine)